/*
Theme Name: Impero Media 2015
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>Impero Media 2015</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Impero Media 2015
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Impero Media 2015 is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Normalize
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
/* 200, 300, 400, 500, 700, 800 */
/* Only one weight */
/* 400, 600 - normal, italic */
/* 300, 500 - normal, italic */
html, body, .main-content-area, .full, .site-main {
  height: 100%; }

.site-footer {
  min-height: 100px; }

.site-main, .main-content-area, .full, .site-main {
  display: inline; }

.main-content-area {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 100px 50px;
  display: inline; }

.main-navigation {
  float: right;
  margin-top: 10px; }

.nav-container {
  height: 75px;
  box-shadow: #efefef 0px 1px 1px;
  background: #671019;
  width: 100%;
  position: fixed;
  line-height: 2.5em;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
  clear: both; }

.f-nav {
  background: rgba(239, 239, 239, 0.9);
  box-shadow: rgba(191, 30, 46, 0.6) 0 1px 1px;
  height: 60px;
  z-index: 3;
  margin: -10px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.site-branding {
  width: 30%;
  min-width: 350px;
  float: left;
  overflow: hidden; }
  @media (max-width: 767px) {
    .site-branding {
      min-width: 225px; } }

.nav-social {
  display: inline;
  float: right;
  margin-top: 20px;
  padding-right: 20px; }
  .nav-social ul {
    list-style: none;
    margin: 0; }
  .nav-social li {
    float: left;
    width: 20%;
    min-width: 25px; }
    .nav-social li .fa-2x {
      font-size: 24px; }
  .nav-social ul li a {
    color: #efefef;
    display: inline;
    padding: 10px; }
    .nav-social ul li a:hover {
      color: #671019;
      background: #efefef; }
  @media (max-width: 1023px) {
    .nav-social {
      display: none; } }

.f-nav .nav-social a {
  color: #671019; }
  .f-nav .nav-social a:hover {
    color: #bf1e2e; }

.main-page {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 50px; }

.inner {
  padding: 2em 0 0 0; }

#page-primary {
  max-width: 900px;
  margin: 100px auto; }

.blog_meta {
  display: inline;
  width: 25%;
  float: left;
  padding-right: 15px;
  margin-top: 1.5rem;
  font-size: 12px; }
  .blog_meta h3 {
    font-weight: 300;
    margin: 10px 0; }
  .blog_meta h4 {
    font-weight: 600;
    font-style: italic; }

.blog_content {
  display: inline;
  width: 75%;
  float: left; }

#primary {
  float: left;
  width: 66.666666%; }

#secondary {
  float: left;
  width: 33.33333%;
  padding: 20px 20px 0 0; }

.site-description {
  display: none; }

.site-title {
  margin-top: 15px;
  overflow: hidden;
  float: left; }

/**************************
Home Page Hero Section
**************************/
.hero_content, .intro_headline, .intro_content {
  display: block;
  text-align: right;
  max-width: 1040px;
  height: 100%;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  margin: 0 auto; }
  .hero_content h2, .hero_content h3, .hero_content h4, .intro_headline h2, .intro_headline h3, .intro_headline h4, .intro_content h2, .intro_content h3, .intro_content h4 {
    margin: 0;
    padding: 0;
    color: #efefef;
    font-family: "gotham", "Oswald", sans-serif;
    text-transform: uppercase;
    line-height: 1; }
  .hero_content h2, .intro_headline h2, .intro_content h2 {
    font-size: 6em;
    padding-bottom: 10px;
    padding-top: 100px; }
    @media (max-width: 767px) {
      .hero_content h2, .intro_headline h2, .intro_content h2 {
        font-size: 5em; } }
    @media (max-width: 479px) {
      .hero_content h2, .intro_headline h2, .intro_content h2 {
        font-size: 3em; } }
  .hero_content h3, .intro_headline h3, .intro_content h3 {
    font-size: 2.5em;
    padding-bottom: 20px; }
    @media (max-width: 767px) {
      .hero_content h3, .intro_headline h3, .intro_content h3 {
        font-size: 1.5em; } }
    @media (max-width: 479px) {
      .hero_content h3, .intro_headline h3, .intro_content h3 {
        font-size: 1em; } }
  .hero_content h4, .intro_headline h4, .intro_content h4 {
    font-size: 1.5em;
    padding-bottom: 20px; }
    @media (max-width: 767px) {
      .hero_content h4, .intro_headline h4, .intro_content h4 {
        font-size: 1em; } }
    @media (max-width: 479px) {
      .hero_content h4, .intro_headline h4, .intro_content h4 {
        font-size: .75em; } }

/**************************
Home Page Universal
**************************/
#about, #work, #services, #contact {
  width: 100%;
  overflow: hidden;
  padding-top: 45px;
  top: -45px;
  text-align: center; }
  #about .container, #work .container, #services .container, #contact .container {
    margin: 1em auto;
    overflow: hidden;
    padding-bottom: 50px; }
  #about h2, #about h3, #about h4, #about h5, #work h2, #work h3, #work h4, #work h5, #services h2, #services h3, #services h4, #services h5, #contact h2, #contact h3, #contact h4, #contact h5 {
    font-family: "gotham", "Oswald", sans-serif;
    font-weight: 300;
    line-height: 1.75; }
  #about h2, #work h2, #services h2, #contact h2 {
    font-size: 2.5em;
    text-transform: uppercase; }
  #about h3, #work h3, #services h3, #contact h3 {
    font-size: 1.5em;
    text-transform: uppercase; }
  #about h4, #work h4, #services h4, #contact h4 {
    font-size: 17px;
    font-family: "gotham", "Oswald", sans-serif;
    font-style: italic; }

/**************************
Home Page Intro Section
**************************/
#intro {
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  z-index: 1;
  padding-top: 75px;
  border-bottom: 2px solid rgba(191, 30, 46, 0.6); }
  #intro:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-radial-gradient(circle at top, #efefef 5%, #3a3a3c 30%, #671019);
    background-image: radial-gradient(circle at top, #efefef 5%, #3a3a3c 30%, #671019);
    opacity: .3; }
  #intro .container {
    margin: 10em auto;
    max-width: 1170px; }

/**************************
Home Page About Section
**************************/
#about {
  background: #fff;
  box-sizing: border-box;
  width: 100%; }
  #about h2 {
    font-size: 2em; }
  #about p {
    max-width: 960px;
    margin: 0 auto;
    font-style: italic;
    font-size: 16px;
    line-height: 28px; }
  #about .about_box {
    width: 1040px;
    margin: 0 auto;
    padding: 0 50px; }

/**************************
Home Page Work/Portfolio Section
**************************/
#work {
  background: #efefef;
  color: #3a3a3c; }
  #work .col-lg-4 {
    padding: 1px;
    margin: 0;
    border: 1px solid #efefef; }
  #work .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto; }
  #work .view {
    margin: 0;
    padding: 20px; }
  #work h2 {
    margin-top: -15px; }
  #work h3 {
    font-size: 2em;
    font-weight: 600;
    color: #671019;
    background-color: rgba(239, 239, 239, 0.9); }

/**************************
Home Page Services Section
**************************/
#services {
  background: #fff;
  color: #3a3a3c; }
  #services .container {
    width: 100%;
    max-width: 100%;
    margin-top: -15px;
    padding: 5%;
    min-height: 400px; }
  #services h2 {
    margin-top: -10px;
    padding-bottom: 15px; }
  #services .module {
    width: 100%;
    padding: 0 2%; }
    #services .module h3 {
      font-size: 20px;
      font-weight: 600;
      color: #3a3a3c; }
      #services .module h3:hover {
        color: #bf1e2e; }
  #services figure {
    margin: 0 0 20px;
    text-align: center; }
  #services a:link, #services a:visited {
    color: #671019; }
  #services a:hover, #services a:active, #services a:focus {
    color: #bf1e2e; }

/**************************
Home Page Contact Section
**************************/
#contact {
  background: #efefef;
  color: #3a3a3c; }
  #contact h3, #contact h4, #contact p {
    margin: 0 0 10px 0; }
  #contact h3 {
    font-size: 2.5em;
    line-height: 1; }
  #contact h4 {
    font-family: "Sentinel SSm A", "Sentinel SSm B"; }
  #contact .container {
    width: 100%; }
    #contact .container .contact_left {
      width: 60%;
      float: left;
      padding: 0 5%; }
    #contact .container .contact_right {
      width: 40%;
      float: left;
      text-align: center;
      padding-right: 10%; }

/**************************
Services Pages
**************************/
#service-page h1 {
  font-size: 3rem;
  text-align: center; }
#service-page .service-img {
  display: block;
  width: 100%; }
#service-page img.attachment-full {
  display: block;
  margin: 0 auto; }

.site-footer {
  background: #671019;
  min-height: 100px;
  line-height: 100px; }

/**************************
Projects/Portfolio
**************************/
#project .project_meta h3 {
  font-size: 1em; }
#project .project_meta_title {
  font-weight: 600;
  text-transform: uppercase; }
#project .project_meta_field {
  font-weight: 300;
  font-family: "Sentinel SSm A", "Sentinel SSm B"; }

/**************************
Home Video
**************************/
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  background: url(http://assets.imperomedia.com/video/im-hero-code/im-hero-code.jpg) no-repeat;
  background-size: cover; }

/*MISC*/
a#scroll-to-top {
  border-bottom: 1px solid #efefef; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Sentinel SSm A", "Sentinel SSm B";
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6875; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1, h2, h3, h4 {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B"; }

h1, h2 {
  text-transform: uppercase; }

p {
  margin-bottom: 1.5em;
  font-size: 18px; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

.entry-header h1 {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";
  text-transform: uppercase;
  font-size: 2.5rem; }

.site-branding h2 a {
  color: #efefef;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";
  text-decoration: none;
  float: left;
  padding-left: 50px;
  font-weight: 300; }
  @media (max-width: 770px) {
    .site-branding h2 a {
      font-size: 1em; } }

.f-nav h2 a {
  color: #bf1e2e;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out; }

.wf-inactive .site-branding, .wf-inactive .site-branding h1, .wf-inactive .site-branding h1 a, .wf-inactive .site-branding h2 {
  font-family: "Oswald", sans-serif; }

/*Footer*/
.site-footer, .site-footer a {
  font-size: 10px;
  font-family: "Sentinel SSm A", "Sentinel SSm B";
  color: #efefef;
  text-align: center;
  margin: 0 auto;
  clear: both; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
.view p {
  font-style: italic;
  font-size: 16px;
  position: relative;
  color: #3a3a3c;
  padding: 10px 20px 10px;
  text-align: center; }

.view-tenth p {
  color: #3a3a3c;
  font-family: "Sentinel SSm A", "Sentinel SSm B";
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.view {
  z-index: 1;
  cursor: default;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0 3px #ddd; }

.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.view img {
  display: block;
  position: relative; }

.view-tenth img {
  left: 10px;
  margin-left: -10px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.view-tenth:hover > img {
  -webkit-transform: scale(1.125) rotate(1.6deg);
  -ms-transform: scale(1.125) rotate(1.6deg);
  transform: scale(1.125) rotate(1.6deg);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3; }

.view h3 {
  text-transform: uppercase;
  color: #671019;
  font-weight: 600;
  font-family: "proxima-nova";
  text-align: center;
  position: relative;
  font-size: 16px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 10px 0 0 0;
  text-shadow: none; }

.view-tenth h3 {
  color: #671019;
  font-weight: 600;
  font-family: "proxima-nova";
  margin: 10px 40px 0;
  background: transparent;
  border-bottom: 1px solid rgba(239, 239, 239, 0.9);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0; }

.view a.info {
  font-size: 20px;
  color: #efefef;
  background: #671019;
  border: 1px solid #fff;
  padding: 7px 14px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase; }

.view a.info:hover {
  background: #efefef;
  color: #671019;
  border: 1px solid #671019; }

.view-tenth a.info {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.view-tenth:hover h3,
.view-tenth:hover p,
.view-tenth:hover a.info {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #efefef;
  /* Fallback for when there is no custom background color defined. */ }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@-ms-viewport {
  width: device-width; }
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
#cases .case_top_container {
  max-width: 960px;
  margin: 0 auto; }
  #cases .case_top_container h1, #cases .case_top_container h2 {
    text-transform: uppercase;
    font-family: "proxima-nova";
    margin: 0;
    line-height: 1;
    text-align: center; }
  #cases .case_top_container h1 {
    font-size: 4em;
    margin-top: 30px;
    color: #bf1e2e; }
  #cases .case_top_container h2 {
    font-size: 2em;
    color: #efefef;
    background: #3a3a3c;
    padding: 10px 0;
    width: 50%;
    margin: 5px auto; }
  #cases .case_top_container h3 {
    font-size: 17px;
    line-height: 32px;
    font-weight: 600;
    padding: 0 50px;
    font-family: "proxima-nova";
    text-align: center; }
#cases .case_content h3 {
  text-transform: uppercase;
  font-family: "proxima-nova";
  font-size: 22px;
  margin-top: 50px;
  color: #fff;
  background: #a8a9ad;
  width: 30%;
  padding: 5px 0 5px 15px; }
#cases .case_content h4 {
  font-style: italic;
  margin: 0;
  color: #bf1e2e;
  padding-right: 325px; }
#cases .case_content p {
  font-size: 16px;
  line-height: 28px;
  padding: 0 50px; }

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

.btn {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #efefef;
  cursor: pointer;
  display: inline-block;
  font-family: "proxima-nova";
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 10px;
  padding: 7px 10px;
  text-transform: uppercase;
  border: 1px solid #efefef;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%;
  /* auto */
  min-width: 120px;
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */ }
  .btn.red {
    background: none repeat scroll 0 0 rgba(191, 30, 46, 0.85);
    color: #efefef; }
    .btn.red:hover {
      background: none repeat scroll 0 0 #671019;
      color: #efefef; }
  .btn.dark {
    background: none repeat scroll 0 0 #607d8b;
    color: #efefef; }
    .btn.dark:hover {
      background: none repeat scroll 0 0 #36474f;
      color: #efefef; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

.wpcf7 {
  background-color: #efefef; }

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  background-color: #fff;
  color: #bf1e2e;
  width: 80%; }

.wpcf7 body, .wpcf7 input, .wpcf7 select, .wpcf7 textarea {
  font-family: "Sentinel SSm A", "Sentinel SSm B";
  color: #bf1e2e;
  padding: 7px 10px; }
  .wpcf7 body::-webkit-input-placeholder, .wpcf7 input::-webkit-input-placeholder, .wpcf7 select::-webkit-input-placeholder, .wpcf7 textarea::-webkit-input-placeholder {
    color: rgba(191, 30, 46, 0.6); }
  .wpcf7 body:-moz-placeholder, .wpcf7 input:-moz-placeholder, .wpcf7 select:-moz-placeholder, .wpcf7 textarea:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(191, 30, 46, 0.6); }
  .wpcf7 body::-moz-placeholder, .wpcf7 input::-moz-placeholder, .wpcf7 select::-moz-placeholder, .wpcf7 textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(191, 30, 46, 0.6); }
  .wpcf7 body:-ms-input-placeholder, .wpcf7 input:-ms-input-placeholder, .wpcf7 select:-ms-input-placeholder, .wpcf7 textarea:-ms-input-placeholder {
    color: rgba(191, 30, 46, 0.6); }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #efefef;
  border-radius: 3px;
  background: #607d8b;
  box-shadow: none;
  color: #efefef;
  font-size: 16px;
  font-size: 1rem;
  font-family: "proxima-nova-condensed";
  text-transform: uppercase;
  line-height: 1;
  padding: 1em 2em;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  min-width: 25%;
  margin-top: 10px; }
  button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #36474f;
    box-shadow: none; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: #bf1e2e;
  text-decoration: none; }
  a:visited {
    color: #671019; }
  a:hover, a:focus, a:active {
    color: #671019; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
  /*clear: both;*/
  display: block;
  float: left;
  /*was left*/
  margin-top: 10px;
  /*was20*/
  font-family: "gotham", "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
    display: inline-block; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 3.5em;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li {
        color: #efefef;
        background-color: rgba(239, 239, 239, 0.9); }
        .main-navigation ul ul li:hover > ul {
          left: 100%; }
      .main-navigation ul ul a {
        width: 200px;
        color: #671019; }
        .main-navigation ul ul a:hover {
          color: #efefef;
          background-color: #671019; }
    .main-navigation ul li:hover > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative;
    padding: 5px 15px;
    margin-right: 1px; }
    .main-navigation li a {
      color: #efefef; }
    .main-navigation li:hover > a {
      color: #671019; }
    .main-navigation li:hover {
      color: #671019;
      background-color: rgba(239, 239, 239, 0.9); }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle {
  display: none; }

/*After Scroll*/
.f-nav li a {
  color: #671019;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out; }
  .f-nav li a:hover {
    background-color: rgba(239, 239, 239, 0.9); }

@media screen and (max-width: 830px) {
  .main-navigation {
    max-width: 40%;
    float: left;
    margin-top: -10px; }
    .main-navigation button, .main-navigation input[type="button"], .main-navigation input[type="reset"], .main-navigation input[type="submit"] {
      border: none;
      border-radius: 3px;
      background: none;
      box-shadow: none;
      color: #efefef;
      font-size: 16px;
      font-size: 1.5rem;
      font-family: "proxima-nova-condensed";
      text-transform: uppercase;
      line-height: 1;
      padding: 1em 2em;
      text-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
      min-width: 25%;
      margin-top: 10px; }

  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block; }

  .main-navigation ul {
    display: none; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before:before, .clear:before:after,
.clear:after:before,
.clear:after:after,
.entry-content:before:before,
.entry-content:before:after,
.entry-content:after:before,
.entry-content:after:after,
.comment-content:before:before,
.comment-content:before:after,
.comment-content:after:before,
.comment-content:after:after,
.site-header:before:before,
.site-header:before:after,
.site-header:after:before,
.site-header:after:after,
.site-content:before:before,
.site-content:before:after,
.site-content:after:before,
.site-content:after:after,
.site-footer:before:before,
.site-footer:before:after,
.site-footer:after:before,
.site-footer:after:after {
  content: " ";
  display: table; }
.clear:before:after,
.clear:after:after,
.entry-content:before:after,
.entry-content:after:after,
.comment-content:before:after,
.comment-content:after:after,
.site-header:before:after,
.site-header:after:after,
.site-content:before:after,
.site-content:after:after,
.site-footer:before:after,
.site-footer:after:after {
  clear: both; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

#secondary h2 {
  font-family: "proxima-nova-condensed";
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 0 1.5rem 4rem; }

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }
