//MATERIAL DESIGN
//Greens
$turqoise: #1abc9c;
$greenSea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$green: #4caf50;
$lightGreen: #8bc34a;
$lime: #cddc39;
//Blues
$river: #3498db;
$belize: #2980b9;
$asphalt: #34495e;
$midnightBlue: #2c3e50;
$blue: #2196f3;
$lightBlue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
//Reds
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$red: #f44336;
//Oranges
$carrot: #e67e22;
$pumpkin: #d35400;
$dullOrange: #f39c12;
$orange: #ff9800;
$bloodOrange: #ff5722;
$amber: #ffc107;
//Yellows
$sunflower: #f1c40f;
$yellow: #ffeb3b;
//Purples + Pinks
$amethyst: #9b59b6;
$plum: #8e44ad;
$purple: #9c27b0;
$deepPurple: #673ab7;
$pink: #e91e63;
$indigo: #3f51b5;
//Browns
$brown: #795548;
//Greys
$grey: #9e9e9e;
$gunMetal: #607d8b;
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$silver: #bdc3c7;
//Whites
$clouds: #ecf0f1;
$paper: #efefef;

//IMPERO MEDIA BRANDING
$red: #bf1e2e;
$dark: #3a3a3c;
$dark_dark : darken ( $dark, 20% );
$light: #a8a9ad;
$white: $paper;
$dark_red: darken( $red, 20% );
$dark_gun: darken( $gunMetal, 20%);

$faded_red: rgba(191, 30, 46, 0.6);
$faded_red_btn: rgba(191, 30, 46, 0.85);
$faded_white: rgba(239,239,239, 0.9);
$faded_dark: rgba(58,58,60, 0.35);
$faded_dark_btn: rgba(88,88,88, 1);

$color__background-body: $paper;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $red;
$color__link-visited: $dark_red;
$color__link-hover: $dark_red;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
